.heading {
  display: flex;
  width: 100%;
  justify-content: center;
}

.heading h2 {
  border-bottom: 1px solid #4e9f3d;
}
.heading h2:first-child {
  color: #4e9f3d;
}

.square {
  display: none;
}
/* messageAndMap */

.messageAndMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  only message div */
.message {
  display: flex;
  width: 100%;
}

.message form {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
}

.message form input {
  width: 80%;
  height: 2em;
  box-shadow: 5px 5px 5px black;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 1em;
}

.message form textarea {
  width: 80%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.message button {
  background: #90cd83;
  font-weight: bold;
  color: white;
  padding: 0.3em 2em;
  border: 1px solid black;
  margin-bottom: 3em;
}

.bike {
  display: none;
}
/* social media for company */
.socialDiv {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 22em;
}

.greenLine {
  width: 90%;
  height: 0.2em;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #90cd83, #90cd8300);
  margin-bottom: 1em;
}
.socialLinks {
  display: flex;
  gap: 1em;
  font-size: 0.7em;
  opacity: 0.7;
}

.socialDiv div p {
  margin: 0;
}

.socialLinks img {
  opacity: 0.8;
  transition: all 300ms ease-in;
}

.socialLinks img:hover {
  opacity: 1;
}

.socialDiv div p:first-child {
  margin-top: 0.4em;
}
@media (min-width: 1100px) {
  .heading {
    font-size: 2em;
  }
  .messageAndMap {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .message {
    width: 40em;
    height: auto;
    margin-top: 4em;
  }

  .message form {
    margin: 0;
  }

  .message form textarea {
    height: 13em;
  }

  .message button {
    align-self: flex-start;
    margin-left: 5em;
    padding: 0.5em 5em;
  }

  .socialDiv {
    left: 22.5em;
    margin-top: -1em;
  }
}

@media (min-width: 1400px) {
  .heading {
    position: relative;
    left: -12em;
    top: 2em;
  }

  .messageAndMap {
    position: relative;
  }

  .bike {
    display: block;
    position: absolute;
    z-index: -1;
    top: -5em;
    right: 22em;
  }

  .square {
    display: block;
    position: absolute;
    width: 10em;
    height: 17em;
    opacity: 0.5;
    right: 3em;
    top: -5em;
    z-index: 1;
    background-color: #4e9f3d;
    transition: all 800ms ease;
  }

  .square:hover {
    opacity: 1;
    transform: rotate(90deg);
    cursor: pointer;
  }
}
