.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.title {
  display: flex;
}

.title h3 {
  font-size: 0.7em;
  margin: 0;
}

.title h3 + h3 {
  color: #4e9f3d;
}

@media (min-width: 320px) and (max-width: 500px) {
  .title h3 {
    font-size: 1.2em;
    margin-top: 0.2em;
  }
}

@media (min-width: 1100px) {
  .title {
    font-size: 1.6em;
  }
}
