.info {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
}

.square {
  display: none;
}

.info > img {
  display: none;
}

.headingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*  out heading and green square */
.heading {
  display: flex;
  align-items: center;
}

.headingTitle {
  display: flex;
  font-size: 0.74em;
  padding-left: 0.3em;
}

.headingDiv p {
  font-size: 0.7em;
  margin: 0;
  margin-top: -0.5em;
  padding-left: 1.3em;
  padding-bottom: 2em;
  line-break: auto;
}

@media (min-width: 360px) {
  .headingDiv p + {
    padding-left: 3em;
  }
  h2 {
    font-size: 1.7em;
  }
}

@media (min-width: 400px) {
  h2 {
    font-size: 1.9em;
  }
}

@media (min-width: 460px) {
  .info * {
    font-size: 1.13em;
  }

  .info p {
    width: 100%;
    padding-left: 7em;
  }
}

@media (min-width: 560px) {
  .headingTitle h2 {
    font-size: 1.4em;
  }

  .headingDiv p {
    font-size: 1.1em;
    padding-left: 2em;
  }
}

@media (min-width: 650px) {
  .info * {
    font-size: 1.1em;
  }

  .headingTitle h2 {
    font-size: 1.7em;
  }

  .info p {
    width: 100%;
    font-size: 0.9em;
    line-break: auto;
  }
}

@media (min-width: 1000px) {
  .info * {
    font-size: 1.2em;
  }

  .info p {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .info * {
    font-size: 1.2em;
  }
  .square {
    display: block;
  }

  .info p {
    font-size: 1.2em;
    margin-top: -1.5em;
    width: 100%;
    padding-left: 6em;
  }
  .info {
    justify-content: space-between;
  }
  .info > img {
    display: block;
    margin-top: 3em;
  }
}

@media (min-width: 1300px) {
  .info * {
    font-size: 1.26em;
  }

  .info p {
    width: 100%;
    padding-left: 7em;
  }
}
