.sectionOffer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  align-items: center;
  gap: 0.3em;
  justify-content: center;
}

.titleDiv {
  display: flex;
}

.titleDiv h2 + h2 {
  color: #4e9f3d;
}

.squaresDiv {
  display: flex;
  align-items: flex-end;
  gap: 0.8em;
}

.pacagesDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
}

.pacagesDiv li {
  font-size: 1.2em;
}

/* squares style */
.fifth,
.sixth,
.seventh,
.eighth,
.nineth {
  display: none;
}
.second {
  font-size: 0.9em;
  opacity: 0.9;
}

.third {
  font-size: 0.8em;
  opacity: 0.8;
}

.fourth {
  font-size: 0.7em;
  opacity: 0.7;
}

@media (min-width: 550px) {
  .titleDiv h2 {
    font-size: 2.3em;
  }
  .squaresDiv {
    font-size: 1.7em;
  }
}
@media (min-width: 650px) {
  .heading {
    font-size: 1em;
  }
  .fifth {
    display: block;
    font-size: 0.6em;
    opacity: 0.6;
  }
}

@media (min-width: 850px) {
  .heading {
    font-size: 1.4em;
  }
}

@media (min-width: 1000px) {
  .heading {
    font-size: 0.6em;
  }
  .titleDiv {
    font-size: 2.5em;
  }
  .pacagesDiv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 0;
  }

  .titleDiv h2 {
    font-size: 2em;
  }
  .fifth,
  .sixth,
  .seventh,
  .eighth,
  .nineth {
    display: block;
  }
  .first {
    font-size: 2em;
  }

  .second {
    font-size: 1.9em;
    opacity: 0.9;
  }

  .third {
    font-size: 1.8em;
    opacity: 0.8;
  }

  .fourth {
    font-size: 1.7em;
    opacity: 0.7;
  }

  .fifth {
    font-size: 1.6em;
    opacity: 0.6;
  }

  .sixth {
    font-size: 1.5em;
    opacity: 0.5;
  }

  .seventh {
    font-size: 1.4em;
    opacity: 0.4;
  }

  .eighth {
    font-size: 1.3em;
    opacity: 0.3;
  }

  .nineth {
    font-size: 1.2em;
    opacity: 0.2;
  }
}

@media (min-width: 1190px) {
  .secondOffer {
    margin-top: -5em;
  }

  .heading {
    font-size: 0.7em;
  }

  @media (min-width: 1300px) {
    .heading {
      font-size: 0.9em;
    }

    .squaresDiv {
      gap: 0.3em;
    }

    .titleDiv {
      padding: 0 0.8em;
    }
    /* squares style */

    .first {
      font-size: 2em;
    }

    .second {
      font-size: 1.9em;
      opacity: 0.9;
    }

    .third {
      font-size: 1.8em;
      opacity: 0.8;
    }

    .fourth {
      font-size: 1.7em;
      opacity: 0.7;
    }

    .fifth {
      font-size: 1.6em;
      opacity: 0.6;
    }

    .sixth {
      font-size: 1.5em;
      opacity: 0.5;
    }

    .seventh {
      font-size: 1.4em;
      opacity: 0.4;
    }

    .eighth {
      font-size: 1.3em;
      opacity: 0.3;
    }

    .nineth {
      font-size: 1.2em;
      opacity: 0.2;
    }
  }

  .pacagesDiv li {
    font-size: 1.3em;
  }
}
