.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1em;

  position: relative;
}

.heading {
  display: flex;
  font-size: 1.3em;
  margin-bottom: -1.5em;
}

.heading h2 + h2 {
  color: #4e9f3d;
}

.square {
  display: none;
}
@media (min-width: 550px) {
  .heading {
    font-size: 1.7em;
  }
}

@media (min-width: 750px) {
  .memberDiv {
    display: grid;
    grid-template-columns: 17em 19em;
    column-gap: 2em;
  }
}
@media (min-width: 1100px) {
  .heading {
    font-size: 1.5em;
  }
  .memberDiv {
    display: grid;
    grid-template-columns: 25em 25em;
    column-gap: 2em;
  }

  .memberDiv * {
    font-size: 1.2em;
  }
}

@media (min-width: 1300px) {
  .heading {
    font-size: 2em;
  }

  .memberDiv {
    grid-template-columns: 30em 23em;
  }

  .square {
    display: block;
    position: absolute;
    width: 5em;
    height: 5em;
    background: #90cd83;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 500ms ease;
  }

  .square:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }

  .s1 {
    right: 12em;
    top: 7em;
  }

  .s2 {
    right: 4em;
    top: 12em;
  }

  .s3 {
    right: 12em;
    top: 17em;
  }

  .s4 {
    right: 4em;
    top: 22em;
  }

  .s5 {
    right: 12em;
    top: 27em;
  }

  .s6 {
    right: 4em;
    top: 32em;
  }

  .s7 {
    right: 12em;
    top: 37em;
  }

  .s8 {
    right: 4em;
    top: 42em;
  }

  .s9 {
    right: 12em;
    top: 47em;
  }

  .s10 {
    left: 9.5em;
    top: 7em;
  }

  .s11 {
    left: 2em;
    top: 12em;
  }

  .s12 {
    left: 9.5em;
    top: 17em;
  }

  .s13 {
    left: 2em;
    top: 22em;
  }

  .s14 {
    left: 9.5em;
    top: 27em;
  }

  .s15 {
    left: 2em;
    top: 32em;
  }

  .s16 {
    left: 9.5em;
    top: 37em;
  }

  .s17 {
    left: 2em;
    top: 42em;
  }

  .s18 {
    left: 9.5em;
    top: 47em;
  }
}
