.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 2em;
  position: relative;
}

.heading {
  display: flex;
}

.heading h2 + h2 {
  color: #4e9f3d;
}

.square {
  display: none;
}

@media (min-width: 1100px) {
  .heading {
    font-size: 1.5em;
  }
  .memberDiv {
    display: grid;
    grid-template-columns: 25em 19em;
    column-gap: 2em;
  }

  .memberDiv * {
    font-size: 1.2em;
  }
}

@media (min-width: 1400px) {
  .heading {
    font-size: 2em;
  }

  .memberDiv {
    grid-template-columns: 30em 23em;
  }

  .square {
    display: block;
    position: absolute;
    width: 5em;
    height: 5em;
    background: #90cd83;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 500ms ease;

    animation-name: squares;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }

  .square:hover {
    transform: rotate(180deg);
    cursor: pointer;
  }

  @keyframes squares {
    /*    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(5%);
    }
    50% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(0%);
    } */

    0% {
      transform: translateX(-5%);
    }

    50% {
      transform: translateX(5%);
    }

    100% {
      transform: translateX(-5%);
    }
  }
  .s1 {
    right: 15em;
    top: 7em;
  }

  .s2 {
    right: 7em;
    top: 12em;
  }

  .s3 {
    right: 15em;
    top: 17em;
  }

  .s4 {
    right: 7em;
    top: 22em;
  }

  .s5 {
    right: 15em;
    top: 27em;
  }

  .s6 {
    right: 7em;
    top: 32em;
  }

  .s7 {
    right: 15em;
    top: 37em;
  }

  .s8 {
    right: 7em;
    top: 42em;
  }

  .s9 {
    right: 15em;
    top: 47em;
  }

  .s10 {
    left: 12em;
    top: 7em;
  }

  .s11 {
    left: 4em;
    top: 12em;
  }

  .s12 {
    left: 12em;
    top: 17em;
  }

  .s13 {
    left: 4em;
    top: 22em;
  }

  .s14 {
    left: 12em;
    top: 27em;
  }

  .s15 {
    left: 4em;
    top: 32em;
  }

  .s16 {
    left: 12em;
    top: 37em;
  }

  .s17 {
    left: 4em;
    top: 42em;
  }

  .s18 {
    left: 12em;
    top: 47em;
  }
}
