.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
}

.squares {
  display: none;
}

.reach {
  display: flex;
  margin: 0;
}

.reach h2 {
  margin-bottom: 0;
  margin-top: 3em;
  font-size: 1em;
}

.reach h2 + h2 {
  color: #4e9f3d;
}

.reach h1 {
  margin: 0;
  font-size: 1.4em;
}
.reach h1 + h1 {
  color: #4e9f3d;
}

.name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.squaresDiv {
  display: flex;
  gap: 0.2em;
}

.squares {
  font-size: 0.6em;
}

/* images of kids */
.images {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.upperImage {
  z-index: 3;
  position: relative;
  left: 2em;
  top: -0.5em;
}

.images img + img {
  position: relative;
  top: -0.5em;
  right: 0.8em;
}
.images img {
  width: 9em;
}

@media (min-width: 320px) and (max-width: 450px) {
  .title {
    margin-top: 4em;
    font-size: 1.34em;
  }
}
@media (min-width: 450px) {
  .title * {
    font-size: 1em;
  }

  .reach h1 {
    font-size: 2em;
  }

  .images img {
    width: 10em;
  }
  .name {
    justify-content: center;
    gap: 0.2em;
  }
}

@media (min-width: 650px) {
  .title * {
    font-size: 1.1em;
  }
  .name {
    gap: 2em;
  }
}

@media (min-width: 1000px) {
  .title * {
    font-size: 1.3em;
  }
  .name {
    gap: 2em;
  }

  .images img {
    font-size: 1.6em;
  }
}

@media (min-width: 1200px) {
  .squares {
    display: block;
  }
  .title {
    margin-top: -1.1em;
  }
}

@media (min-width: 1400px) {
  .title * {
    font-size: 1.1em;
  }

  .reach h2 {
    font-size: 2em;
    margin-top: 2em;
    font-weight: 700;
    margin-bottom: 0;
  }
  .reach h1 {
    font-size: 3.4em;
    margin-top: 0;
    margin-top: -0.3em;
  }

  .name {
    align-items: center;
    gap: 5em;
  }
  .squares {
    font-size: 2em;
  }

  .images img {
    font-size: 2em;
    top: -0.9em;
  }

  .images img + img {
    top: -1em;
    left: -1.4em;
  }
}
