.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reach {
  display: flex;
  margin: 0;
}

.reach h2 {
  margin-bottom: 0;
  margin-top: 3em;
  font-size: 1em;
}

.reach h2 + h2 {
  color: #4e9f3d;
}

.reach h1 {
  margin: 0;
  font-size: 1.4em;
}
.reach h1 + h1 {
  color: #4e9f3d;
}

.name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.squaresDiv {
  display: flex;
  gap: 0.2em;
}

.squares {
  font-size: 0.6em;
}

/* images of kids */
.images {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.upperImage {
  z-index: 3;
  position: relative;
  left: 2em;
  top: -0.5em;
}

.images img + img {
  position: relative;
  top: -0.5em;
  right: 0.8em;
}
.images img {
  width: 7em;
}

@media (min-width: 450px) {
  .title * {
    font-size: 1em;
  }

  .reach h1 {
    font-size: 2em;
  }

  .images img {
    width: 10em;
  }
}
